<%= stylesheet_link_tag "signup-stylesheet" %>

<div class="signup-container">
    <h1> Sign up</h1>
    <div>
        <%= form_for @user do |f| %>
            <%= f.label :full_name %>
            <%= f.text_field :full_name %>
            <br>
            <%= f.label :username %>
            <%= f.text_field :username %>
            <br>
            <%= f.label :password %>
            <%= f.password_field :password %>
            <br>
            <%= f.label :password_confirmation, "Confirm password" %>
            <%= f.password_field :password_confirmation %>
            <br>
            <%= f.submit "Sign Up" %>
        <% end %>
    </div>
</div>

<!--

<h1>Sign up</h1>
<div>
    <form method="POST" action="/users">
        <label>Full name</label>
        <input type="text" name="full_name">
        <br>
        <label>Username</label>
        <input type="text" name="username">
        <br>
        <label>Password</label>
        <input type="password" name="password">
        <br>
        <label>Confirm password</label>
        <input type="password" name="password_confirmation">
        <br>
        <input type="submit" value="Sign Up">
    </form>
</div>

<div>
    <%= form_for @user do |f| %>
        <%= f.label :full_name %>
        <%= f.text_field :full_name %>
        <br>
        <%= f.label :username %>
        <%= f.text_field :username %>
        <br>
        <%= f.label :password %>
        <%= f.password_field :password %>
        <br>
        <%= f.label :password_confirmation, "Confirm password" %>
        <%= f.password_field :password_confirmation %>
        <br>
        <%= f.submit "Sign Up" %>
    <% end %>
</div>
-->
